# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
/lib
/obj
*.ncb
*.suo
*.aps
/.vs
/Output
/web
/*.sdf
/*.opensdf
/src/放弃修改代码
/FastCopy.VC.db
/FastCopy.VC.VC.opendb
/help/FastCopy.chm
/FastCopy-M_*.zip
